body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.miBoton {
  background: #030808;
  color: rgb(11, 207, 207);
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.miBoton:hover {
  background: #3fa34d;
}